body {
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;
  font-family: "Segoe UI", "Helvetica Neue", "Helvetica", Arial, sans-serif;
  color: white;
}

.container {
  margin: 0;
  height: 50px;
  background-color: #2c2c32;
  flex-direction: row;
  display: flex;
}

.container-image {
  align-items: center;
  display: flex;
  padding-left: 1%;
}

.text-title {
  font-size: 20px;
  flex-direction: row;
  display: inline-flex;
  font-family: "Segoe UI","Helvetica Neue","Helvetica",Arial,sans-serif;
}

.container-menu {
  width: 50vw;
  align-items: center;
  display: flex;
  /* border: 1px solid red; */
}
.nav-menu {
  display: flex;
}

li {
  padding-left: 10px;
  list-style: none;
  color: #9d9da0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
li:hover {
  color: #fff;
  cursor: pointer;
  transition: 0.5s;
}

.container-input {
  background-color: #3c4240;
  display: flex;
  flex-direction: row;
  height: 50px;
  width: 183px;
  border: 0;
  align-items: center;
}

input {
  background-color: #3d3d42;
  border: 0;
}
.container-message {
  height: 50px;
  background-color: #25252b;

  margin-top: -16px;
}
.container-paragraph {
  align-content: center;
  text-align: center;
  padding-top: 15px;
  color: #cccccc;
}

.container-principal {
  min-height: 600px;
  background-color: #2c2c32;
  display: flex;
}

.container-text {
  display: flex;
  flex-direction: column;
  margin-left: 100px;
  text-align: center;
  margin-top: 5%;
  margin-bottom: 15%;
}

.container-button1 {

  background-color: #0098ff;
  border: none;
  flex-direction: column;
  color: white;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  display: flex;
  align-items: center;
  font-size: 12px;
  margin: 2px 1px;
  cursor: pointer;
}

.text-menu{
  font-size: 16px;
  font-family: "Segoe UI","Helvetica Neue","Helvetica",Arial,sans-serif;
}

.nav-bar-left{
  margin-left: 100px;
  display: flex;
  flex-direction: row;
  
}


.container-button2 {
  background-color: #0098ff;
  color: white;
  height: 50px;
  width: 134.02px;
  display: flex;
  flex-direction: row;
  border: 0;
  align-items: center;

}

.teste-btn-download{
  margin-left: 6px;
}

.container-searchdocs {
  margin-left: 15px;
  font-size: 14px;
  font-family: inherit;
}

.icon-lupa {
  margin-top: 4px;
  margin-left: 10px; 
}

.text-btndownload{
  font-size: 16px;
  text-align: center;
  font-family: "Segoe UI","Helvetica Neue","Helvetica",Arial,sans-serif;
  margin-left: 8px;
}

.container-img2 {
  margin-left: 100px;
  margin-top: 25px;
  width: 100%;
}

.text-link {
  color: #0098ff;
  font-size: 15.2px;
  font-family: "Segoe UI","Helvetica Neue","Helvetica",Arial,sans-serif;
}

.text-style1 {
  font-size: 40px;
}

.text-style2 {
  color: #cccccc;
  font-size: 12px;
}

.text-style3 {
  font-size: 20px;
}

.container-retangular {
  background-color: #25252b;
  flex-direction: row;
  border-radius: 5px;
  /* width: 100%;
        height: 100%; */
  font-size: 14px;
  /* margin: 5%; */

  /* padding: 15px 20px; */
  /* text-align: center; */
  /* text-decoration: none; */
  display: flex;
  /* align-items: center; */
  margin: 4% 2%;
}

.menu-section {
  display: none;
}

/* Div Mobile */
@media screen and (max-width: 870px) /* INICIO */ {
  html {
    font-size: 50%;
  }

  .container {
    display: inline-block;
  }

  .container-image {
    margin-left: 20px;
    /* margin-bottom: 15;px; */
  }

  .text-title {
    border: 1px solid red;
    font-size: 10px;
    flex-direction: row;
    display: inline-flexbox;
    align-items: center;
    margin-right: 15px;
  }

  /* .container-message {
  }

  .container-principal {
  } */

  .nav-menu {
    display: none;
  }

  .container-menu {
    display: none;
  }
  .container-input {
    display: none;
  }

  .container-principal {
    width: 100vw;
    min-height: 40px;
    flex-direction: column;
    height: 100vh;
  }

  .container-text {
    margin: 0;
  }

  .container-retangular {
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-left: 45px;
    margin-right: 45px;
  }

  .container-button1 {
    width: 300px;
    margin: 0 auto;
  }

  .container-img2 {
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  img {
    height: 100%;
    width: 100%;
  }

  .menu-section {
    display: none;
    color: white;
  }

  /* FIM */
}
